html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-image: url(../imagenes/Background/TEXTURAS/textura-07.jpg);
  background-size: cover; }

.hero {
  background-image: url(../imagenes/Producciones/20210919_195548.jpg);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex; }

.imagen__logo {
  height: 300px; }
