.hero {
  background-image: url(../imagenes/Producciones/20210919_195548.jpg);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.imagen__logo {
  height: 250px;
  animation-duration: 2s;
  /* don't forget to set a duration! */ }

@media (max-width: 480px) {
  .imagen__logo {
    height: 200px; }
  @supports (object-fit: cover) {
    .hero {
      height: 400px;
      object-fit: cover;
      object-position: center center; } } }

.estilo__letra {
  color: white !important;
  font-size: 1.1rem; }

.footer {
  background-color: #fce3db;
  height: 75px;
  margin: 0;
  background-size: cover;
  object-fit: fit;
  object-position: center bottom;
  position: absolute; }

@media (max-width: 480px) {
  .footer {
    height: 100px;
    padding-bottom: 0; } }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.footer__iconos {
  --bs-text-opacity: 1;
  color: #6c757d !important;
  text-decoration: none;
  font-size: 1.5rem; }

.footer__iconos a {
  text-decoration: none; }

html {
  position: relative; }

.main__imagen {
  height: 300px; }

.card__estilo {
  margin-top: 100px;
  text-align: center;
  margin-left: 40px;
  height: 220px; }

@media (max-width: 480px) {
  .card__estilo {
    margin-top: 50px;
    height: 50px;
    margin-left: 80px;
    width: 60%; } }

@supports (object-fit: cover) {
  .carousel__imagen {
    height: 500px;
    width: 600px;
    object-fit: cover;
    margin-top: 40px;
    margin-right: 40px; } }

@media (max-width: 480px) {
  @supports (object-fit: cover) {
    .carousel__imagen {
      margin-top: 400px;
      height: 300px;
      object-fit: cover;
      width: 100%; } }
  .flecha__derecha {
    visibility: hidden; }
  .flecha__izquierda {
    visibility: hidden; } }

.flecha__derecha {
  right: 10% !important; }

.contenedor__section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem; }

@media (max-width: 480px) {
  .contenedor__section1 {
    display: flex;
    flex-direction: column; } }

.contenido-imagen {
  position: relative;
  background-image: url(../imagenes/Internet/10-ut_RFPomevjU2kBfOlIwG1L8ucA6HZq3r.jpg);
  margin-top: 50px;
  width: 100%;
  /* filter: brightness(0.5); */
  height: 500px;
  background-size: cover; }

@media (max-width: 480px) {
  .contenido-imagen {
    height: 300px; } }

.contenido__imagen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; }

.iconos__pasteleria {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 40%;
  top: 40%; }

.conjunto__tortas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem; }

@media (max-width: 480px) {
  .conjunto__tortas {
    display: flex;
    flex-direction: column; } }

.imagen__cumple {
  margin-top: 60px;
  height: 500px;
  width: 95%;
  object-fit: cover;
  margin-left: 10px;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 30px; }

@media (max-width: 480px) {
  @supports (object-fit: cover) {
    .imagen__cumple {
      height: 300px;
      width: 80%;
      object-fit: cover;
      margin-left: 40px; } } }

.imagen__eventos:hover {
  filter: brightness(0.6); }

.imagen__eventos {
  padding-bottom: 40px; }

.imagen__parrafo {
  text-align: center;
  font-size: 4rem;
  top: 40%;
  width: 100%;
  padding-top: 40px;
  color: black;
  font-family: 'Domine', serif;
  font-family: 'Open Sans', sans-serif; }

.parrafo {
  text-decoration: none; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

@media (max-width: 480px) {
  .float {
    visibility: hidden; } }

.center {
  margin: 100px !important;
  padding: 20px;
  border: 3px solid;
  border-radius: 3em;
  background-color: #87d1d2;
  box-shadow: 10px 10px 5px #aaaaaa; }

@media (max-width: 480px) {
  .center {
    padding: 20px;
    margin: 60px !important; } }

.hero__eventos {
  background-image: url(../imagenes/Producciones/Eventos/Banner6.png);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center center; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.hero__cakes {
  background-image: url(../imagenes/Producciones/Cakes/Banner2.png);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center center; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.hero__cookies {
  background-image: url(../imagenes/Producciones/Cookies/Cookies.png);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center center; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.hero__macarons {
  background-image: url(../imagenes/Producciones/Macarons/Macarns3.png);
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center center; }

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /* transparencia en el hero */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-image: url(../imagenes/Background/TEXTURAS/textura-08.jpg);
  background-size: cover; }
