.hero__eventos {
    background-image: url(../imagenes/Producciones/Eventos/Banner6.png);
    height: 500px;
    background-size: cover;
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    /* transparencia en el hero */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

figure{
    margin:0;
    padding:0px;
}

.img{
    width:100%;
}