.hero {
    background-image: url(../imagenes/Producciones/20210919_195548.jpg);
    height: 500px;
    background-size: cover;
    position: relative;
    width: 100%;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    /* transparencia en el hero */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen__logo {
    height: 250px;
    animation-duration: 2s;
    /* don't forget to set a duration! */
}


@media (max-width:480px) {
    .imagen__logo {
        height: 200px;
    }

    @supports(object-fit:cover) {
        .hero {
            height: 400px;
            object-fit: cover;
            object-position: center center;
        }
    }

}
    