@import "header";
@import "footer";
@import "home";
@import "contacto";
@import "eventos";
@import "cakes";
@import "combos";
@import "macarons";


html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-image: url(../imagenes/Background/TEXTURAS/textura-08.jpg);
    background-size:cover;
}

